# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [2]:
import pandas as pd

In [3]:
!wget https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip

--2023-02-15 17:43:09--  https://github.com/shmihmih/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/shmihmih/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2023-02-15 17:43:09--  https://raw.githubusercontent.com/shmihmih/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0s

2023-02-15 17:43:09 (80.3 MB/s) - ‘Data.zip’ saved [16727/16727]

In [4]:
!unzip Data.zip

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [5]:
import glob

In [6]:
files1 = glob.glob("Data/Students_info_*.csv")
files2 = glob.glob("Data/Students_marks_*.csv")

df = pd.concat(map(pd.read_csv, files1), ignore_index = True)
df_marks = pd.concat(map(pd.read_csv, files2), ignore_index = True)

df = df.merge(df_marks, on = "index")
df.sample(frac = 0.3) # можем вывести просто df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
292,492,female,group C,some college,standard,none,group5,83,83,90
193,993,female,group D,bachelor's degree,free/reduced,none,group10,62,72,74
113,913,female,group C,bachelor's degree,free/reduced,completed,group10,47,62,66
780,380,female,group B,associate's degree,standard,none,group4,80,86,83
12,212,female,group C,high school,free/reduced,none,group3,42,62,60
...,...,...,...,...,...,...,...,...,...,...
830,130,male,group D,master's degree,standard,none,group2,89,84,82
645,45,male,group B,associate's degree,standard,none,group1,65,54,57
914,514,female,group B,master's degree,free/reduced,completed,group6,77,97,94
378,878,female,group D,some high school,standard,none,group9,59,72,80
570,770,male,group B,high school,standard,none,group8,52,48,49

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [7]:
df = df.drop(columns = ["index"]) 
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group C,associate's degree,standard,completed,group3,67,84,86
1,female,group D,some college,free/reduced,none,group3,65,81,77
2,male,group C,associate's degree,standard,none,group3,69,77,69
3,female,group B,associate's degree,standard,none,group3,57,69,68
4,male,group C,some college,standard,none,group3,59,41,42
...,...,...,...,...,...,...,...,...,...
995,female,group C,bachelor's degree,standard,completed,group6,56,79,72
996,male,group B,high school,free/reduced,none,group6,30,24,15
997,male,group A,some high school,standard,none,group6,53,54,48
998,female,group D,high school,standard,none,group6,69,77,73
999,female,group D,some high school,standard,none,group6,65,82,81

#### Задание 3. Выведите на экран размеры полученной таблицы

In [8]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [9]:
df_statistical_characteristics = df.agg({'math score' : ['min', 'max', 'mean', 'std'], 'reading score' : ['min', 'max', 'mean', 'std'], 'writing score': ['min', 'max', 'mean', 'std']})
df_statistical_characteristics

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [10]:
df.isnull().values.any() # False - если все значения заполнены, True - если есть пропущенные(хотябы 1)

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [11]:
df.agg({'math score' : ['mean'], 'reading score' : ['mean'], 'writing score':['mean']}) # можно так же через df[[columns]].mean()

      math score  reading score  writing score
mean      66.089         69.169         68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [12]:
df.loc[df['test preparation course'] == 'completed'][['math score', 'reading score', 'writing score']].mean()

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

In [13]:
df.loc[df['test preparation course'] == 'none'][['math score', 'reading score', 'writing score']].mean()

math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [14]:
df['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [15]:
df = df.rename(columns ={"parental level of education" : "education", "test preparation course" : "test preparation" })
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group C,associate's degree,standard,completed,group3,67,84,86
1,female,group D,some college,free/reduced,none,group3,65,81,77
2,male,group C,associate's degree,standard,none,group3,69,77,69
3,female,group B,associate's degree,standard,none,group3,57,69,68
4,male,group C,some college,standard,none,group3,59,41,42
...,...,...,...,...,...,...,...,...,...
995,female,group C,bachelor's degree,standard,completed,group6,56,79,72
996,male,group B,high school,free/reduced,none,group6,30,24,15
997,male,group A,some high school,standard,none,group6,53,54,48
998,female,group D,high school,standard,none,group6,69,77,73
999,female,group D,some high school,standard,none,group6,65,82,81

**Зафиксируем минимальный балл для сдачи экзамена**

In [16]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [17]:
passed_exam_percentage = len(df[df['math score'] >= passmark]) / len(df.index) 
passed_course_exam_percentage = len(df[(df['math score'] >= passmark) & (df['test preparation'] == 'completed')]) / len(df[df['test preparation'] == 'completed']) 
female_didnot_passed_exam_percentage = len(df[(df['math score'] < passmark) & (df['test preparation'] == 'none') & (df['gender'] == 'female')]) / len(df[(df['test preparation'] == 'none') & (df['gender'] == 'female')])
print(f"доля студентов сдала экзамен по математике {passed_exam_percentage}\nдоля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике {passed_course_exam_percentage}\nдоля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике {female_didnot_passed_exam_percentage}")

доля студентов сдала экзамен по математике 0.865
доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике 0.9217877094972067
доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [18]:
import time
start_time = time.time()
print(df.groupby('race/ethnicity').agg({'reading score' : ['mean']}))
print("time cosumed on task:", time.time() - start_time)

               reading score
                        mean
race/ethnicity
group A            64.674157
group B            67.352632
group C            69.103448
group D            70.030534
group E            73.028571
time cosumed on task: 0.008997678756713867

In [19]:
start_time = time.time()
print(df.groupby('education').agg({'writing score' : ['min']}))
print("time cosumed on task:", time.time() - start_time)

                   writing score
                             min
education
associate's degree            35
bachelor's degree             38
high school                   15
master's degree               46
some college                  19
some high school              10
time cosumed on task: 0.008880615234375

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [20]:
start_time = time.time()
groups = dict.fromkeys(df['race/ethnicity'].unique())
for group in groups:
  groups[group] = []
i = 0;
for ethnicity in df['race/ethnicity']:
  groups[ethnicity].append(df['reading score'][i])
  i += 1
for group in groups:
  print(f"{group}: {sum(groups[group])/len(groups[group])}")
print("time cosumed on task:", time.time() - start_time)

group C: 69.10344827586206
group D: 70.03053435114504
group B: 67.35263157894737
group E: 73.02857142857142
group A: 64.67415730337079
time cosumed on task: 0.015207767486572266

In [21]:
start_time = time.time()
groups = dict.fromkeys(df['education'].unique())
for group in groups:
  groups[group] = []
i = 0;
for education in df['education']:
  groups[education].append(df['writing score'][i])
  i += 1
for group in groups:
  print(f"{group}: {min(groups[group])}")
print("time cosumed on task:", time.time() - start_time)

associate's degree: 35
some college: 19
some high school: 10
bachelor's degree: 38
high school: 15
master's degree: 46
time cosumed on task: 0.01454782485961914

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [22]:
grouped = pd.pivot_table(data=df,index=['gender', 'education'], aggfunc = 'mean')
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [23]:
df['Math_PassStatus'] = 'Nan'
df['Math_PassStatus'].loc[df['math score'] >= passmark] = "P"
df['Math_PassStatus'].loc[df['math score'] < passmark] = "F"
df['Reading_PassStatus'] = 'Nan'
df['Reading_PassStatus'].loc[df['reading score'] >= passmark] = "P"
df['Reading_PassStatus'].loc[df['reading score'] < passmark] = "F"
df['Writing_PassStatus'] = 'Nan'
df['Writing_PassStatus'].loc[df['writing score'] >= passmark] = "P"
df['Writing_PassStatus'].loc[df['writing score'] < passmark] = "F"
df

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group C,associate's degree,standard,completed,group3,67,84,86,P,P,P
1,female,group D,some college,free/reduced,none,group3,65,81,77,P,P,P
2,male,group C,associate's degree,standard,none,group3,69,77,69,P,P,P
3,female,group B,associate's degree,standard,none,group3,57,69,68,P,P,P
4,male,group C,some college,standard,none,group3,59,41,42,P,F,F
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group C,bachelor's degree,standard,completed,group6,56,79,72,P,P,P
996,male,group B,high school,free/reduced,none,group6,30,24,15,F,F,F
997,male,group A,some high school,standard,none,group6,53,54,48,P,P,F
998,female,group D,high school,standard,none,group6,69,77,73,P,P,P
999,female,group D,some high school,standard,none,group6,65,82,81,P,P,P

In [24]:
print("Math info: ")
df['Math_PassStatus'].value_counts()

Math info:

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [25]:
print("Reading info")
df['Reading_PassStatus'].value_counts()

Reading info

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [26]:
print("Writing info")
df['Writing_PassStatus'].value_counts()

Writing info

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [36]:
df['OverAll_PassStatus'] = 'Nan'
df['OverAll_PassStatus'].loc[(df['Reading_PassStatus'] == "P") & (df['Math_PassStatus'] == "P") & (df['Writing_PassStatus'] == "P")] = "P"
df['OverAll_PassStatus'].loc[(df['OverAll_PassStatus'] == "Nan")] = "F"
print("OverAll Statistics:")
df['OverAll_PassStatus'].value_counts()

OverAll Statistics:

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [49]:
def GetGrade(average_mark: float) -> str:  #Ставим оценочку в пользу студента, всем советую! :D 
    if (average_mark >= 90):
      return "A"
    elif (average_mark >= 80):
      return "B"
    elif (average_mark >= 70):
      return "C"
    elif (average_mark >= 60):
      return "D"
    elif (average_mark >= 50):
      return "E"
    else:
      return "F"

df['Grade'] = df.apply(lambda mean: GetGrade(mean[['math score', 'writing score', 'reading score']].mean()), axis = 1)
df['Grade'].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64